<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="temaDelMomento">
      <h2 data-cy="temaDelMomentoDetailsHeading">
        <span jhiTranslate="jhLogstashApp.temaDelMomento.detail.title"
          >__jhiTransformTranslate__('jhLogstashApp.temaDelMomento.detail.title')</span
        >
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">__jhiTransformTranslate__('global.field.id')</span></dt>
        <dd>
          <span>{{ temaDelMomento.id }}</span>
        </dd>
        <dt>
          <span jhiTranslate="jhLogstashApp.temaDelMomento.etiqueta"
            >__jhiTransformTranslate__('jhLogstashApp.temaDelMomento.etiqueta')</span
          >
        </dt>
        <dd>
          <span>{{ temaDelMomento.etiqueta }}</span>
        </dd>
        <dt>
          <span jhiTranslate="jhLogstashApp.temaDelMomento.numeroRepeticiones"
            >__jhiTransformTranslate__('jhLogstashApp.temaDelMomento.numeroRepeticiones')</span
          >
        </dt>
        <dd>
          <span>{{ temaDelMomento.numeroRepeticiones }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"
          >__jhiTransformTranslate__('entity.action.back')</span
        >
      </button>

      <button type="button" [routerLink]="['/tema-del-momento', temaDelMomento.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"
          >__jhiTransformTranslate__('entity.action.edit')</span
        >
      </button>
    </div>
  </div>
</div>
