<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="muroUsuario">
      <h2 data-cy="muroUsuarioDetailsHeading">
        <span jhiTranslate="jhLogstashApp.muroUsuario.detail.title"
          >__jhiTransformTranslate__('jhLogstashApp.muroUsuario.detail.title')</span
        >
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">__jhiTransformTranslate__('global.field.id')</span></dt>
        <dd>
          <span>{{ muroUsuario.id }}</span>
        </dd>
        <dt>
          <span jhiTranslate="jhLogstashApp.muroUsuario.usuario">__jhiTransformTranslate__('jhLogstashApp.muroUsuario.usuario')</span>
        </dt>
        <dd>
          <span>{{ muroUsuario.usuario }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"
          >__jhiTransformTranslate__('entity.action.back')</span
        >
      </button>

      <button type="button" [routerLink]="['/muro-usuario', muroUsuario.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"
          >__jhiTransformTranslate__('entity.action.edit')</span
        >
      </button>
    </div>
  </div>
</div>
