<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="usuario">
      <h2 data-cy="usuarioDetailsHeading"><span jhiTranslate="microblogApp.usuario.detail.title">Usuario</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ usuario.id }}</span>
        </dd>
        <dt><span jhiTranslate="microblogApp.usuario.alias">Alias</span></dt>
        <dd>
          <span>{{ usuario.alias }}</span>
        </dd>
        <dt><span jhiTranslate="microblogApp.usuario.nombre">Nombre</span></dt>
        <dd>
          <span>{{ usuario.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="microblogApp.usuario.correo">Correo</span></dt>
        <dd>
          <span>{{ usuario.correo }}</span>
        </dd>
        <dt><span jhiTranslate="microblogApp.usuario.contrasenia">Contrasenia</span></dt>
        <dd>
          <span>{{ usuario.contrasenia }}</span>
        </dd>
        <dt><span jhiTranslate="microblogApp.usuario.descripcion">Descripcion</span></dt>
        <dd>
          <span>{{ usuario.descripcion }}</span>
        </dd>
        <dt><span jhiTranslate="microblogApp.usuario.admin">Admin</span></dt>
        <dd>
          <span>{{ usuario.admin }}</span>
        </dd>
        <dt><span jhiTranslate="microblogApp.usuario.siguiendo">Siguiendo</span></dt>
        <dd>
          <span *ngFor="let siguiendo of usuario.siguiendos; let last = last">
            <a [routerLink]="['/usuario', siguiendo.id, 'view']">{{ siguiendo.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="microblogApp.usuario.mensajeMencionado">Mensaje Mencionado</span></dt>
        <dd>
          <div *ngIf="usuario.mensajeMencionado">
            <a [routerLink]="['/mensaje', usuario.mensajeMencionado.id, 'view']">{{ usuario.mensajeMencionado.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/usuario', usuario.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
