<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-usuario-heading" data-cy="UsuarioCreateUpdateHeading" jhiTranslate="microblogApp.usuario.home.createOrEditLabel">
        Create or edit a Usuario
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="microblogApp.usuario.alias" for="field_alias">Alias</label>
          <input type="text" class="form-control" name="alias" id="field_alias" data-cy="alias" formControlName="alias" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="microblogApp.usuario.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="microblogApp.usuario.correo" for="field_correo">Correo</label>
          <input type="text" class="form-control" name="correo" id="field_correo" data-cy="correo" formControlName="correo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="microblogApp.usuario.contrasenia" for="field_contrasenia">Contrasenia</label>
          <input
            type="text"
            class="form-control"
            name="contrasenia"
            id="field_contrasenia"
            data-cy="contrasenia"
            formControlName="contrasenia"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="microblogApp.usuario.descripcion" for="field_descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="microblogApp.usuario.admin" for="field_admin">Admin</label>
          <input type="checkbox" class="form-check" name="admin" id="field_admin" data-cy="admin" formControlName="admin" />
        </div>

        <div class="row mb-3">
          <label jhiTranslate="microblogApp.usuario.siguiendo" for="field_siguiendos">Siguiendo</label>
          <select
            class="form-control"
            id="field_siguiendos"
            data-cy="siguiendo"
            multiple
            name="siguiendos"
            formControlName="siguiendos"
            [compareWith]="compareUsuario"
          >
            <option [ngValue]="usuarioOption" *ngFor="let usuarioOption of usuariosSharedCollection">{{ usuarioOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="microblogApp.usuario.mensajeMencionado" for="field_mensajeMencionado"
            >Mensaje Mencionado</label
          >
          <select
            class="form-control"
            id="field_mensajeMencionado"
            data-cy="mensajeMencionado"
            name="mensajeMencionado"
            formControlName="mensajeMencionado"
            [compareWith]="compareMensaje"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="mensajeOption" *ngFor="let mensajeOption of mensajesSharedCollection">{{ mensajeOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
